body{

font-family:Arial;

background:linear-gradient(135deg,#74ebd5,#ACB6E5);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.container{

background:white;

padding:30px;

width:400px;

border-radius:15px;

box-shadow:0 0 15px gray;

text-align:center;

}

.logo{

width:90px;

margin-bottom:10px;

}

input,select,textarea{

width:100%;

padding:10px;

margin:10px 0;

border-radius:8px;

border:1px solid gray;

}

button{

width:100%;

padding:12px;

background:#007BFF;

color:white;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#0056b3;

}

#result{

margin-top:20px;

font-size:18px;

color:green;

font-weight:bold;

}